.stored-item {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & > :first-child {
    flex: 1;
    margin-bottom: 0px;
  }
  button:last-child {
    font-size: medium;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
